@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");

$hero_background: #A3CEF1;
$button_backgroundcolor:#0066ff;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}