@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");

$hero_background: #a3cef1;
$button_backgroundcolor: #0066ff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
span {
  color: $button_backgroundcolor;
  font-family: "Aboreto", cursive;
}
.token.keyword {
  color: rgb(197, 165, 197);
}

 .token.class-name {
  color: rgb(250, 200, 99);
}
.token.keyword {
  color: rgb(197, 165, 197);
}
.token.punctuation {
  color: rgb(136, 198, 190);
}
.token.function {
  color: rgb(121, 182, 242);
}
.token.tag {
  color: rgb(252, 146, 158);
}