.hero {
  background-color: $hero_background;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  & .herotxt {
    & h1 {
      font-family: "Aboreto", cursive;
      font-size: 50px;
    }
  }
}
