.recentcheatsheets {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  margin-top: 150px;
  & .recentcheatsheetsheading {
    font-family: "Aboreto", cursive;
    font-size: 50px;
  }
  & .recentcheatsheets1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;
    background-color: $hero_background;
    padding: 50px;
    border-radius: 10px;
    gap: 2rem;
    & a {
      color: black;
      border: 1px solid black;
      padding: 10px 15px;
      border-radius: 5px;
      text-align: center;
      &:hover {
        color: rgba(0, 0, 0, 0.5);
        border-color: rgba(0, 0, 0, 0.5);
      }
    }
  }
  & .recentcheatsheets2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;
    background-color: $hero_background;
    padding: 50px;
    border-radius: 10px;
    gap: 2rem;
    & .allcheatsheets {
      background-color: $button_backgroundcolor;
      border: none;
      color: white;
      text-align: center;
      &:hover {
        color: white;
      }
    }
    & a {
      color: black;
      border: 1px solid black;
      padding: 10px 15px;
      border-radius: 5px;
      &:hover {
        color: rgba(0, 0, 0, 0.5);
        border-color: rgba(0, 0, 0, 0.5);
      }
    }
  }
}
