@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  background-color: #A3CEF1;
  height: 100vh;
}
.hero .herotxt h1 {
  font-family: "Aboreto", cursive;
  font-size: 50px;
}