@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  background-color: #A3CEF1;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}
.hero .herotxt h1 {
  font-family: "Aboreto", cursive;
  font-size: 50px;
  margin-bottom: 20px;
}
.hero .herotxt a {
  text-decoration: none;
  display: inline-block;
  background-color: #0066ff;
  border-radius: 5px;
  color: white;
  padding: 10px 15px;
  margin-top: 20px;
}

.header {
  font-family: "Aboreto", cursive;
  font-size: 50px;
}