@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  background-color: #A3CEF1;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}
.hero .herotxt h1 {
  font-family: "Aboreto", cursive;
  font-size: 50px;
  margin-bottom: 20px;
}
.hero .herotxt a {
  text-decoration: none;
  display: inline-block;
  background-color: #0066ff;
  border-radius: 5px;
  color: white;
  padding: 10px 15px;
  margin-top: 20px;
}

.arrow {
  color: #0066ff;
  margin-left: 90px;
  margin-top: -40px;
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes bounce {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
.header {
  font-family: "Aboreto", cursive;
  font-size: 50px;
}